<section id="about" class="about-section">
  <div class="about-container">
    <!-- Foto -->
    <div class="about-photo">
      <img src="https://nlpcloud.com/assets/images/developer-on-pc.png" alt="Guillermo Julio Vicente" />
    </div>

    <!-- Texto -->
    <div class="about-text">
      <h2>Sobre mí</h2>
      <p class="description">
        Soy un <strong>Ingeniero en Desarrollo y Gestión de Software</strong> y <strong>desarrollador
          full-stack</strong>
        con experiencia en el diseño y construcción de aplicaciones web, móviles e híbridas. Manejo lenguajes de
        programación,
        así como frameworks modernos De Frontend y Backend.
        También tengo experiencia integrando bases de datos SQL y NoSQL al igual que realizando despliegues en entornos
        productivos.
      </p>

      <p class="description">
        Mi enfoque es crear soluciones escalables, usables y seguras, aplicando metodologías ágiles como <strong>SCRUM y
          Kanban</strong>,
        utilizando herramientas de control de versiones como Git y GitHub, y aplicando conocimientos de <strong>análisis
          de datos</strong>
        para la toma de decisiones. Además, tengo experiencia en inteligencia artificial con Python (pandas, TensorFlow)
        y herramientas
        de visualización como Power BI y Excel, enfocándome en extraer información útil para generar valor real.
      </p>

      <p class="description">
        Mi objetivo es combinar innovación, disciplina técnica y aprendizaje continuo para desarrollar soluciones que
        aporten un impacto
        positivo y mejoren la experiencia de los usuarios.
      </p>


      <div class="about-buttons">
        <!-- Descarga CV -->
        <a href="https://drive.google.com/file/d/1oxZ6wCb_vXkJgpvaa5djmcVVySa8kitQ/view?usp=sharing" target="_blank"
          class="icon-btn cv">
          <i class="fas fa-user-tie"></i>
        </a>

        <!-- GitHub 
        <a href="https://github.com/tuusuario" target="_blank" class="icon-btn github">
          <i class="fab fa-github"></i>
        </a>-->

        <!-- LinkedIn -->
        <a href="https://www.linkedin.com/in/guillermo-julio-ingsoft-5983a8333" target="_blank"
          class="icon-btn linkedin">
          <i class="fab fa-linkedin"></i>
        </a>

        <!-- Whats app -->
        <a href="https://wa.me/7712412138/" target="_blank"
          class="icon-btn whatsapp">
          <i class="fab fa-whatsapp-square"></i>
        </a>

        <!-- Facebook 
        <a href="https://facebook.com/tuusuario" target="_blank" class="icon-btn facebook">
          <i class="fab fa-facebook-f"></i>
        </a>-->
      </div>
    </div>
  </div>
</section>