<section id="about" class="about-section">
  <div class="about-container">
    <!-- Foto -->
    <div class="about-photo">
      <img src="https://nlpcloud.com/assets/images/developer-on-pc.png" alt="Guillermo Julio Vicente" />
    </div>

    <!-- Texto -->
    <div class="about-text">
<h2>Sobre mí</h2>
      <p class="description">
        Soy un <strong>Ingeniero en Desarrollo y Gestión de Software</strong> y <strong>Desarrollador Full-Stack</strong> 
        con experiencia en la integración del ciclo de vida completo del software (SDLC). Mi especialidad es el diseño de 
        arquitecturas robustas y código limpio utilizando entornos como <strong>.NET Core (C#)</strong> y <strong>Node.js (Express)</strong> 
        para el Backend, combinados con <strong>React</strong> y <strong>Angular</strong> en el Frontend para construir aplicaciones 
        web y móviles altamente escalables.
      </p>

      <p class="description">
        Mi enfoque técnico está orientado a la resolución de objetivos de negocio y la seguridad, implementando flujos de 
        autenticación seguros con <strong>JWT</strong>, cifrado y políticas CORS. Cuento con sólida experiencia en la gestión y 
        optimización de bases de datos relacionales y NoSQL (<strong>SQL Server, MongoDB</strong>), así como en el diseño de 
        dashboards para el <strong>análisis de datos</strong> (Power BI, Excel avanzado, SAP). Además, integro herramientas de 
        <strong>Inteligencia Artificial</strong> y automatización para optimizar flujos de trabajo y acelerar los ciclos de desarrollo.
      </p>

      <p class="description">
        Trabajo bajo metodologías ágiles como <strong>Scrum y Kanban</strong> con control de versiones en Git/GitHub, garantizando 
        entregas de alta calidad. Mi objetivo es combinar la innovación tecnológica, la disciplina de ingeniería y el aprendizaje 
        continuo para desarrollar soluciones que aporten un impacto positivo, escalable y de valor real para los usuarios.
      </p>


      <div class="about-buttons">
        <!-- Descarga CV -->
        <a href="https://drive.google.com/file/d/1T3Oi2l9xLoiJ2yEr5w4Di93aebEab3KS/view?usp=sharing" target="_blank"
          class="icon-btn cv">
          <i class="fas fa-user-tie"></i>
        </a>

        <!-- GitHub 
        <a href="https://github.com/tuusuario" target="_blank" class="icon-btn github">
          <i class="fab fa-github"></i>
        </a>-->

        <!-- LinkedIn -->
        <a href="https://www.linkedin.com/in/guillermo-julio-ing-soft-fullstack" target="_blank"
          class="icon-btn linkedin">
          <i class="fab fa-linkedin"></i>
        </a>

        <!-- Whats app -->
        <a href="https://wa.me/8126485468/" target="_blank"
          class="icon-btn whatsapp">
          <i class="fab fa-whatsapp-square"></i>
        </a>

        <!-- Facebook 
        <a href="https://facebook.com/tuusuario" target="_blank" class="icon-btn facebook">
          <i class="fab fa-facebook-f"></i>
        </a>-->
      </div>
    </div>
  </div>
</section>