<div class="home">
<!-- Fondo canvas hacker -->
  <canvas id="hackerCanvas"></canvas>
  
  <div class="home-left">
    <!-- Manita + Hola -->
<h1 class="title">
  <span class="intro">
    <span class="code-icon">&lt;/&gt;</span> Hola, Soy
  </span><br/>
  <span class="highlight">Guillermo Julio </span>
</h1>

<!-- Texto con efecto máquina -->
<h2 class="typing-text">
  {{ displayText }}<span class="cursor">|</span>
</h2>


    <!-- Descripción -->
    <p class="description">
  <span>Desarrollador apasionado por la tecnología</span>, con experiencia en 
  <span>front-end</span> y <span>back-end</span>, para la creación de sitios web y aplicaciones móviles, 
  gestión de datos y desarrollo de <span>soluciones digitales modernas</span>.
</p>

  </div>

  <div class="home-right">
    <img 
      src="https://png.pngtree.com/png-vector/20240309/ourmid/pngtree-developers-are-coding-programs-on-computers-programmers-are-analyzing-data-png-image_11902650.png" 
      alt="Desarrollador" 
      class="developer-img"
    />
  </div>
</div>
